.swiper {
  width: 20%;
  position: absolute;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border: 3px solid var(--color-primary);
  border-radius: 6%;
  padding: 5px;
  margin-bottom: 3rem;
}

.swiper-qual {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.course__name {
  padding-bottom: 0rem;
}

.cert__desc {
  padding-bottom: 5rem;
}

/* ==== Media Queries for tablets ==== */
@media screen and (max-width: 1024px) {
  .swiper {
    width: 60%;
  }
}

/* ==== Media Queries for phones ==== */
@media screen and (max-width: 600px) {

}
